@import 'variables';

.component-our-team {
    position: relative;
    width: 100%;
    margin-bottom: 50px;

    @media screen and (min-width: $tab-breakpoint) {

    }

    .team-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1100px;
        height: auto;
        margin: 0 auto;
        overflow: visible;
        justify-content: center;
        gap: .5vw;

        @media screen and (min-width: 600px) {
            width: 100%;
        }

        .row-container {
            display: flex;
            flex-direction: column;
            align-content: center;
            flex-wrap: wrap;
            width: 100%;
            padding: 20px;

            @media screen and (min-width: $tab-breakpoint) {
                flex-direction: row;
                justify-content: space-between;
                gap: .5vw;
            }

            .team-member {
                width: 100%;
                max-width: 320px;
                height: auto;
                flex: 1 1 240px;
                justify-content: flex-start;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 50px;

                @media screen and (min-width: 600px) {
                    margin: 1vw 0;
                }

                .photo {
                    width: 100%;
                    max-width: 243px;
                    height: auto;
                    border-radius: 10px;
                    object-fit: cover;
                }

                .name {
                    margin-top: 10px;
                    margin-bottom: 5px;

                    a {
                        font-size: 18px;
                        font-weight: 700;
                        text-align: center;
                        color: $NM-Purple-prp-MAIN;
                    }
                }

                .role {
                    font-size: 18px;
                    font-weight: 400;
                    text-align: center;
                    color: #262626;
                }
            }

            &.top {
                width: 800px;

                .team-member {
                    max-width: 350px;

                    .photo {
                        max-width: 235px;
                    }
                }
            }
        }
    }
}
