$tab-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$desktop-breakpoint-1025: 1025px;
$desktop-breakpoint-1440: 1440px;

$NM-Purple-prp-10: #E4E0EE;
$NM-Purple-prp-20: #CCC4DF;
$NM-Purple-prp-MAIN: #4E2A84;
$NM-Purple-prp-110: #482476;

